@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Loop test";
}


@for (int i = 0; i < (int)ViewData["times"]; i++)
{
        <p>@ViewData["What print"]</p>
        <p> @i </p>
}